@media screen and (min-width: 550px) {
    .header-cart span {
        display: inline;
    }
}

@media screen and (min-width: 910px) {
    .header-navigation {
        padding-top: 0;
        position: static;
        background-color: transparent;
        opacity: 1;
        height: auto;
    }

    .header-navigation ul {
        display: flex;
    }

    .header-navigation-link {
        padding: 15px 25px;
        color: #000;
    }

    .header-navigation-link:hover {
        background-color: transparent;
    }

    .header-menu-button {
        display: none;
    }

    .header {
        padding: 50px 0 15px;
    }
}

