@media screen and (max-width: 1230px) {
    .services .container {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .services-item:not(:last-child) {
        margin-right: 20px;
    }
}

@media screen and (max-width: 1050px) {
    .services .container {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .services-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 800px) {
    .services .container {
        padding: 15px 0 20px;
    }
    
    .services .container {
        flex-direction: column;
        align-items: center;
    }

    .services-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 335px) {
    .item-img {
        width: 100%;
    }

    .services-item {
        width: 100%;
        font-size: 12px;
    }

    .item-img {
        margin-bottom: 15px;
    }
    
    .item-title {
        margin-bottom: 15px;
    }
    
    .item-description {
        margin-bottom: 20px;
    }
}

