.about {
    padding: 120px 0;
    text-align: center;
}

.about p{
    color: #a2a2a2;
}

.about-header {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.about-text {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 80px;
}

.about-timeline {
    display: grid;
    grid-template: repeat(5, 1fr)/1fr 183px 1fr;
    gap: 95px 40px;
}

.about-img:nth-child(1) {
    grid-area: 1/2;
}

.about-img:nth-child(2) {
    grid-area: 2/2;
}

.about-img:nth-child(3) {
    grid-area: 3/2;
}

.about-img:nth-child(4) {
    grid-area: 4/2;
}

.about-img:nth-child(5) {
    grid-area: 5/2;
}

.about-item:nth-child(6) {
    grid-area: 1/1;
}

.about-item:nth-child(7) {
    grid-area: 2/3;
}

.about-item:nth-child(8) {
    grid-area: 3/1;
}

.about-item:nth-child(9) {
    grid-area: 4/3;
}

.item-right {
    text-align: right;
}

.item-left {
    text-align: left;
}

.about-item .about-description-date {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

.about-descriprion-title {
    margin-bottom: 15px;
    text-transform: capitalize;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

.about-description-text {
    font-size: 14px;
}